{
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "extends": "eslint:recommended"
}